*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.wraper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
  background: var(--white, #FFF);
}

.text {
  line-height: normal;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.text-title {
  font-size: 95px;
  font-weight: 700;
  line-height: normal;
}
.text-nav {
  color: #000000;
}
.text-slider {
  font-size: 26px;
  font-weight: 700;
}
.text-heading {
  font-size: 36px;
  font-weight: 700;
}
.text-desc {
  font-weight: 500;
}
.text-smail {
  font-size: 13px;
  font-weight: 400;
}
.text-origin {
  color: #f48e28;
}
.text-red {
  color: #EE140A;
}
.text-white {
  color: white;
}

.center {
  text-align: center;
}

.header {
  margin-top: 33px;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  max-width: 393px;
  max-height: 65px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.button-icon {
  padding: 20px 22px;
  position: absolute;
}
.button-input {
  margin-left: 71px;
}
.button-input input {
  border: none;
  padding: 20px 0;
  opacity: 0.3;
  margin-right: 33px;
  color: #000000;
}
.button-icon-box {
  position: absolute;
  right: 25px;
}

.input::placeholder {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  line-height: normal;
}

.logo {
  margin-right: 448px;
  max-width: 94px;
  max-height: 56px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 67px;
  margin-right: 187px;
}
.menu-item {
  list-style-type: none;
}

@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
  }
  .menu-link::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #f48e28;
    transition: all 0.2s linear;
  }
  .menu-link:hover {
    color: #f48e28;
  }
  .menu-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.hero {
  margin-top: 68px;
}

.btn {
  padding: 20px 0 20px 25px;
  color: #f48e28;
}

.hero-main {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.hero-left {
  max-width: 622px;
}
.hero-bike {
  max-width: 270px;
  display: flex;
  gap: 0 60px;
  align-items: center;
  background: var(--light-tangerine, #f5ddc4);
  border-radius: 31px;
  margin-bottom: 73px;
}
.hero-title {
  margin-bottom: 48px;
}
.hero-oder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.hero-button {
  max-width: 250px;
  max-height: 86px;
  padding: 33px 50px;
  border-radius: 15px;
  background: linear-gradient(180deg, #efab68 0%, #f48e28 100%);
  color: var(--white, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 px;
}
.hero-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 30px;
}
.hero-image-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f48e28;
  width: 258px;
  height: 275px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.hero-tilte-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11px 0;
  padding-top: 100px;
  padding-bottom: 30px;
  z-index: 10;
}
.hero-slider-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-food {
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  width: 278px;
  height: 254px;
}
.logo-food img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shortlist {
  margin-top: 135px;
}

.shortlist-list {
  max-height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
  padding: 70px 0;
}
.shortlist-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 143px;
}
.shortlist-field-icon {
  width: 42px;
  height: 42px;
  border-radius: 100rem;
  background-color: #f48e28;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.shortlist-field-icon i {
  font-size: 22px;
  padding: 11px;
  color: white;
}

.shawdow {
  box-shadow: -2px 0 gray, 2px 0 gray;
}

.product {
  margin-top: 135px;
}

.product-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px 0;
}
.product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 53px 32px;
}
.product-item {
  max-width: 485px;
  max-height: 485px;
  border-radius: 35px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 150px;
}
.product-image {
  max-width: 491px;
  max-height: 333px;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px 35px 0 0;
}
.product-rewiew {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 33px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.product-start {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.product-botton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 33px 44px 33px;
}
.product-footer {
  max-width: 271px;
  max-height: 74px;
  display: flex;
  align-items: center;
  background-color: #f48e28;
  border-radius: 35px;
}
.product-footers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.product-icon-row {
  position: absolute;
  right: 0;
  transform: translateX(20px);
}

.btn-product {
  padding: 14px 29px;
  background-color: #f48e28;
  border-radius: 35px;
  color: var(--white, #fff);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
.btn-more {
  padding: 22px 20px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-right: 60px;
}

.services {
  margin-top: 135px;
}

.services-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-content {
  margin-top: 57px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 53px;
}
.services-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 35px;
  border: 1px solid var(--gray, #b6b6b6);
  background: var(--white, #fff);
  padding: 103px 52px;
  gap: 43px 0;
}
.services-icon {
  max-width: 98px;
  max-height: 98px;
  border-radius: 100rem;
  background: #F5DDC4;
  padding: 20px;
}
.services-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work {
  margin-top: 135px;
}

.work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-content {
  margin-top: 51px;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 223px;
}
.work-list :nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px 0;
}

.word-image {
  max-width: 371px;
  max-height: 216px;
}
.word-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials {
  margin-top: 135px;
}

.testimonials-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials-content {
  margin-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials-auth {
  max-width: 725px;
  max-height: 445px;
  border-radius: 35px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 116px 51px;
}
.testimonials-image {
  max-width: 725px;
  max-height: 445px;
}
.testimonials-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth-person {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 36px;
}
.auth-img {
  width: 76px;
  height: 76px;
  border-radius: 100rem;
}
.auth-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subcribe {
  margin-top: 135px;
}

.subcribe-main {
  max-height: 369px;
  border-radius: 50px;
  background: var(--black, #000);
  display: flex;
  align-items: flex-end;
  position: relative;
}
.subcribe-img {
  max-width: 620px;
  max-height: 570px;
  position: absolute;
  top: 50%;
  left: 53px;
  transform: translateY(-50%);
}
.subcribe-content {
  max-width: 525px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px 0;
  margin: 74px 0;
  margin-left: 922px;
}

.subscribe {
  display: flex;
  align-items: center;
}
.subscribe-field {
  position: relative;
}
.subscribe-input {
  padding: 25px 150px 25px 34px;
  outline: none;
  border: none;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin-right: 326px;
}
.subscribe-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px 26px;
  border-radius: 15px;
  background: var(--tangerine, #f48e28);
  color: white;
}

.footer {
  margin-top: 150px;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 162px;
  background: #FAFAFF;
}
.footer-image {
  max-width: 181px;
  max-height: 108px;
}
.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-desc {
  width: 275px;
  padding-top: 45px;
}
.footer-links-icon {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.footer-link i {
  width: 42px;
  height: 42px;
  border-radius: 100rem;
  background-color: #F5DDC4;
  color: #F48E28;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-heading {
  padding-top: 55px;
  width: 276px;
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.footer-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 13px 0;
}

/*# sourceMappingURL=app.css.map */
