.subcribe {
  margin-top: 135px;
}

.subcribe {
  &-main {
    max-height: 369px;
    border-radius: 50px;
    background: var(--black, #000);
    display: flex;
    align-items:flex-end;
    position: relative;
  }
  &-img {
    max-width: 620px;
    max-height: 570px;
    position: absolute;
    top: 50%;
    left: 53px;
    transform: translateY(-50%);
  }
  &-content {
    max-width: 525px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px 0;
    margin: 74px 0;
    margin-left: 922px;
  }
}
.subscribe {
  display: flex;
  align-items: center;
  &-field {
    position: relative;
  }
  &-input {
    padding: 25px 150px 25px 34px;
    outline: none;
    border: none;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-right: 326px;
  }
  &-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px 26px;
    border-radius: 15px;
    background: var(--tangerine, #f48e28);
    color: white;
  }
}
